<section
  class="bg-white flex flex-col py-4 px-6 rounded-[25px] shadow-xl gap-4 mt-4"
>
  <div class="flex">
    <div class="flex-1 flex gap-2 font-Poppins">
      <!-- <img class="h-[20px] w-[20px]" src="../../../../assets/faculty-dashboard/BlueUsers.png" alt="" /> -->
      <h4 class="text-[2rem] font-Poppins font-semibold text-blue">Faculty</h4>
    </div>
    <!-- <input
      type="text"
      placeholder="SEARCH FACULTY"
      class="flex-1 rounded-full py-2 shadow-inner placeholder:text-center placeholder:font-bold box-shadow"
    /> -->
  </div>
  <!-- <div class="flex justify-start">
    <button
      class="flex-1 pb-4 border-b-2 font-bold border-black hover:border-b-4 hover:border-black"
    >
      All
    </button>
    <button
      class="flex-1 pb-4 border-b-2 font-bold border-black hover:border-b-4 hover:border-orange-400"
    >
      CCS
    </button>
    <button
      class="flex-1 pb-4 border-b-2 font-bold border-black hover:border-b-4 hover:border-blue"
    >
      CEAS
    </button>
    <button
      class="flex-1 pb-4 border-b-2 font-bold border-black hover:border-b-4 hover:border-pink-500"
    >
      CHTM
    </button>
    <button
      class="flex-1 pb-4 border-b-2 font-bold border-black hover:border-b-4 hover:border-red-600"
    >
      CAHS
    </button>
    <button
      class="flex-1 pb-4 border-b-2 font-bold border-black hover:border-b-4 hover:border-yellow-300"
    >
      CBA
    </button>
  </div> -->
  <div class="grid justify-items-start grid-cols-4 gap-5">
    <div class="col-span-4 grid-cols-subgrid grid border-b-2 border-gray">
      <p class="uppercase">Name</p>
      <p class="uppercase">College</p>
      <p class="uppercase">Position</p>
      <p class="uppercase">Employment</p>
    </div>

    <!-- DATA -->
    <div
      *ngFor="let facultyMember of facultyMembers"
      class="col-span-4 grid-cols-subgrid grid items-center border-l-4 justify-items-start gap-5 hover:bg-gray-200 p-1"
    >
      <div>
        <div class="flex items-center gap-3">
          <img
            [src]="facultyMember.profile_image"
            alt="ains"
            class="aspect-square rounded-full"
            onerror="this.onerror=null; this.src='../../../../assets/profiles/user.png'"
            width="50"
            height="50"
          />
          <div>
            <p>
              {{ facultyMember.first_name }} {{ facultyMember.middle_name }}
              {{ facultyMember.last_name }} {{ facultyMember.ext_name }}
            </p>
            <small class="leading-normal">{{ facultyMember.email }}</small>
          </div>
        </div>
      </div>
      <p class="text-blue font-bold">{{ facultyMember.college }}</p>
      <p>{{ facultyMember.teaching_position }}</p>
      <p>
        {{ facultyMember.employment_status == 1 ? "Full-Time" : "Part-Time" }}
      </p>
    </div>

    <ng-content></ng-content>
  </div>
</section>
