<aside class="w-full overflow-x-hidden">
  <div
    class="flex flex-col h-screen bg-gradient-to-b from-greenBar from-0% via-blue via-[180px] to-blue to-100% rounded-r-[15px] pb-6 py-4"
  >
    <div class="pt-4 pb-10 flex justify-center items-center">
      <img src="../../../assets/img/Logo_mockup 1.png" class="w-[60%]" />
    </div>
    <div class="faculty-side flex-1">
      <ul *ngIf="!isFaculty">
        <app-nav
          (click)="onSelect(7)"
          [selectedBar]="selectedBar"
          [index]="'7'"
          [title]="'Manage Faculty'"
          [source]="'Users.png'"
        ></app-nav>
        <app-nav
          (click)="onSelect(2)"
          [selectedBar]="selectedBar"
          [index]="'2'"
          [title]="'Program Analytics'"
          [source]="'ScatterPlot.png'"
        ></app-nav>
        <app-nav
        (click)="onSelect(13)"
        [selectedBar]="selectedBar"
        [index]="'13'"
        [title]="'Commex'"
        [source]="'Users.png'"
      ></app-nav>
      </ul>



      <ul *ngIf="isFaculty">
        <app-nav
          (click)="onSelect(7)"
          [selectedBar]="selectedBar"
          [index]="'7'"
          [title]="'Curriculum Vitae'"
          [source]="'Person.png'"
        ></app-nav>
        <app-nav
          (click)="onSelect(8)"
          [selectedBar]="selectedBar"
          [index]="'8'"
          [title]="'Analytics'"
          [source]="'Signal.png'"
        ></app-nav>
        <app-nav
          (click)="onSelect(9)"
          [selectedBar]="selectedBar"
          [index]="'9'"
          [title]="'Schedule'"
          [source]="'Vector.png'"
        ></app-nav>
        <app-nav
          (click)="onSelect(13)"
          [selectedBar]="selectedBar"
          [index]="'13'"
          [title]="'Community'"
          [source]="'Users.png'"
        ></app-nav>
        <app-nav
          (click)="onSelect(14)"
          [selectedBar]="selectedBar"
          [index]="'14'"
          [title]="'Evaluation'"
          [source]="'ScatterPlot.png'"
        ></app-nav>
      </ul>
    </div>
    <!-- <i
      (click)="logout()"
      class="fa-solid fa-right-from-bracket text-white w-full text-center text-[30px] cursor-pointer"
    ></i> -->
  </div>
</aside>
