<app-loading-screen
  *ngIf="!(facultyProfile$ | async) as facultyProfile"
></app-loading-screen>
<div
  *ngIf="facultyProfile$ | async as facultyProfile"
  class="p-5 flex flex-col max-w-full flex-initial gap-3 text-blue overflow-x-hidden"
  id="mainPage"
>
  <div
    (click)="goBack()"
    class="w-[50px] h-[50px] bg-white rounded-full shadow-main flex justify-center items-center"
  >
    <svg
      width="35"
      height="35"
      viewBox="0 0 67 67"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M14.6562 31.4062H56.5312C57.0865 31.4062 57.6191 31.6268 58.0118 32.0195C58.4044 32.4121 58.625 32.9447 58.625 33.5C58.625 34.0553 58.4044 34.5879 58.0118 34.9805C57.6191 35.3732 57.0865 35.5938 56.5312 35.5938H14.6562C14.101 35.5938 13.5684 35.3732 13.1757 34.9805C12.7831 34.5879 12.5625 34.0553 12.5625 33.5C12.5625 32.9447 12.7831 32.4121 13.1757 32.0195C13.5684 31.6268 14.101 31.4062 14.6562 31.4062Z"
        fill="#074287"
      />
      <path
        d="M15.5229 33.4997L32.8885 50.8611C33.2816 51.2542 33.5025 51.7875 33.5025 52.3435C33.5025 52.8995 33.2816 53.4327 32.8885 53.8258C32.4953 54.219 31.9621 54.4399 31.4061 54.4399C30.8501 54.4399 30.3169 54.219 29.9237 53.8258L11.08 34.9821C10.885 34.7876 10.7303 34.5565 10.6247 34.3022C10.5192 34.0478 10.4648 33.7751 10.4648 33.4997C10.4648 33.2243 10.5192 32.9516 10.6247 32.6972C10.7303 32.4429 10.885 32.2118 11.08 32.0173L29.9237 13.1736C30.3169 12.7804 30.8501 12.5596 31.4061 12.5596C31.9621 12.5596 32.4953 12.7804 32.8885 13.1736C33.2816 13.5667 33.5025 14.1 33.5025 14.656C33.5025 15.212 33.2816 15.7452 32.8885 16.1383L15.5229 33.4997Z"
        fill="#074287"
      />
    </svg>
  </div>

  <div
    class="min-w-mobileL w-full bg-white rounded-[15px] overflow-hidden shadow-main"
  >
    <!-- IMAGE AND COVER -->
    <div class="w-full relative h-[210px] flex justify-center tablet:block">
      <div class="w-full h-[180px] overflow-hidden flex items-center">
        <img
          class="w-full"
          [src]="port + facultyProfile.cover_image"
          onerror="this.onerror=null; this.src='../../../assets/profiles/cover.jpg'"
        />
      </div>

      <div
        class="rounded-full ml-0 absolute top-0 tablet:ml-7 bg-greenBar max-h-[210px] max-w-[210px] border-[5px] border-white aspect-square"
      >
        <img
          class="rounded-full aspect-square"
          [src]="port + facultyProfile.profile_image"
          onerror="this.onerror=null; this.src='../../../assets/profiles/user.png'"
        />
        <button
          (click)="openDialog('profile')"
          class="absolute bottom-[2rem] right-0 bg-white px-2 py-1 aspect-square rounded-full"
        >
          <i class="fa-solid fa-camera"></i>
        </button>
      </div>
      <button
        class="absolute right-2 top-2 bg-white px-2 py-1 rounded-full"
        (click)="openDialog('cover')"
      >
        <i class="fa-solid fa-pen"></i>
      </button>
    </div>

    <div
      class="flex flex-col justify-center tablet:flex-row tablet:justify-between"
    >
      <p
        class="mobileS:text-[1.5rem] tablet:text-[2rem] text-center tablet:text-start font-Poppins font-semibold ml-0 tablet:ml-7 mt-1 mb-2"
      ></p>
    </div>
  </div>

  <div
    class="flex gap-2 flex-col laptop:flex-row"
    *ngIf="facultyProfile$ | async as facultyProfile"
  >
    <div class="bg-white rounded-[15px] p-4 flex-1">
      <form
        [formGroup]="facultyInfo"
        action=""
        class="grid grid-cols-5 gap-2 auto-cols-max auto-rows-max"
        (ngSubmit)="submitForm()"
      >
        <h4 class="col-span-5 text-2xl mb-4">Personal Information</h4>
        <div
          class="relative z-0 w-full mb-5 group col-span-5 tablet:col-span-2"
        >
          <input
            type="email"
            name="floating_email"
            id="floating_email"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-blue dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            formControlName="email"
          />
          <label
            for="floating_email"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Email address</label
          >
          <app-forms-error
            *ngIf="
              formControl('email')?.invalid &&
              (formControl('email')?.dirty || formControl('email')?.touched)
            "
            [formControlRequired]="formControl('email')!.errors?.['required']"
            [formControlEmail]="formControl('email')!.errors?.['email']"
          ></app-forms-error>
        </div>
        <div
          class="relative z-0 w-full mb-5 group col-span-5 tablet:col-span-2"
        >
          <input
            type="text"
            name="floating_email"
            id="floating_email"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-blue dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            formControlName="phone_number"
            placeholder=" "
            required
          />
          <label
            for="floating_email"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Phone Number</label
          >
          <app-forms-error
            *ngIf="
              formControl('phone_number')?.invalid &&
              (formControl('phone_number')?.dirty ||
                formControl('phone_number')?.touched)
            "
            [formControlRequired]="formControl('phone_number')!.errors?.['required']"
            [formControlNumber]="formControl('phone_number')!.errors?.['pattern']"
          ></app-forms-error>
        </div>
        <div
          class="relative z-0 w-full mb-5 group col-span-5 tablet:col-span-1"
        >
          <input
            type="date"
            name="floating_email"
            id="floating_email"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-blue dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            formControlName="birthdate"
            placeholder=" "
            required
          />
          <label
            for="floating_email"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Birthdate</label
          >
          <app-forms-error
            *ngIf="
              formControl('birthdate')?.invalid &&
              (formControl('birthdate')?.dirty ||
                formControl('birthdate')?.touched)
            "
            [formControlRequired]="formControl('birthdate')!.errors?.['required']"
          ></app-forms-error>
        </div>
        <div class="col-span-5 flex flex-col tablet:flex-row gap-2 flex-wrap">
          <div class="relative z-0 w-full mb-5 group flex-1">
            <input
              type="text"
              name="floating_email"
              id="floating_email"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-blue dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              formControlName="last_name"
              placeholder=" "
              required
            />
            <label
              for="floating_email"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Lastname</label
            >
            <app-forms-error
              *ngIf="
                formControl('last_name')!.invalid &&
                (formControl('last_name')!.dirty ||
                  formControl('last_name')!.touched)
              "
              [formControlRequired]="formControl('last_name')!.errors?.['required']"
              [formControlPattern]="formControl('last_name')!.errors?.['pattern']"
            ></app-forms-error>
          </div>
          <div class="relative z-0 w-full mb-5 group flex-1">
            <input
              type="text"
              name="floating_email"
              id="floating_email"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-blue dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              formControlName="first_name"
              placeholder=" "
              required
            />
            <label
              for="floating_email"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Firstname</label
            >
            <app-forms-error
              *ngIf="
                formControl('first_name')?.invalid &&
                (formControl('first_name')?.dirty ||
                  formControl('first_name')?.touched)
              "
              [formControlRequired]="formControl('first_name')!.errors?.['required']"
              [formControlPattern]="formControl('first_name')!.errors?.['pattern']"
            ></app-forms-error>
          </div>
          <div class="relative z-0 w-full mb-5 group flex-1">
            <input
              type="text"
              name="floating_email"
              id="floating_email"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-blue dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              formControlName="middle_name"
              placeholder=" "
            />
            <label
              for="floating_email"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Middlename</label
            >
          </div>
          <div class="relative z-0 w-full mb-5 group flex-1">
            <input
              type="text"
              name="floating_email"
              id="floating_email"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-blue dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              formControlName="ext_name"
              placeholder=" "
            />
            <label
              for="floating_email"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Ext. name</label
            >
          </div>
        </div>
        <div class="col-span-5 flex flex-col tablet:flex-row gap-2 flex-wrap">
          <div class="relative z-0 w-full mb-5 group flex-1">
            <input
              type="text"
              name="floating_email"
              id="floating_email"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-blue dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              formControlName="region"
              placeholder=" "
              required
            />
            <label
              for="floating_email"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Region</label
            >
            <app-forms-error
              *ngIf="
                formControl('region')?.invalid &&
                (formControl('region')?.dirty || formControl('region')?.touched)
              "
              [formControlRequired]="formControl('region')!.errors?.['required']"
              [formControlPattern]="formControl('region')!.errors?.['pattern']"
            ></app-forms-error>
          </div>
          <div class="relative z-0 w-full mb-5 group flex-1">
            <input
              type="text"
              name="floating_email"
              id="floating_email"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-blue dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              formControlName="province"
              placeholder=" "
              required
            />
            <label
              for="floating_email"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Province</label
            >
            <app-forms-error
              *ngIf="
                formControl('province')?.invalid &&
                (formControl('province')?.dirty ||
                  formControl('province')?.touched)
              "
              [formControlRequired]="formControl('province')!.errors?.['required']"
              [formControlPattern]="formControl('province')!.errors?.['pattern']"
            ></app-forms-error>
          </div>
          <div class="relative z-0 w-full mb-5 group flex-1">
            <input
              type="text"
              name="floating_email"
              id="floating_email"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-blue dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              formControlName="city"
              placeholder=" "
              required
            />
            <label
              for="floating_email"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >City</label
            >
            <app-forms-error
              *ngIf="
                formControl('city')?.invalid &&
                (formControl('city')?.dirty || formControl('city')?.touched)
              "
              [formControlRequired]="formControl('city')!.errors?.['required']"
              [formControlPattern]="formControl('city')!.errors?.['pattern']"
            ></app-forms-error>
          </div>
          <div class="relative z-0 w-full mb-5 group flex-1">
            <input
              type="text"
              name="floating_email"
              id="floating_email"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-blue dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              formControlName="barangay"
              placeholder=" "
              required
            />
            <label
              for="floating_email"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Barangay</label
            >
            <app-forms-error
              *ngIf="
                formControl('barangay')?.invalid &&
                (formControl('barangay')?.dirty ||
                  formControl('barangay')?.touched)
              "
              [formControlRequired]="formControl('barangay')!.errors?.['required']"
              [formControlPattern]="formControl('barangay')!.errors?.['pattern']"
            ></app-forms-error>
          </div>
        </div>
        <div
          class="relative z-0 w-full mb-5 group col-span-5 tablet:col-span-1"
        >
          <input
            type="text"
            name="floating_email"
            id="floating_email"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-blue dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            formControlName="sex"
            placeholder=" "
            required
          />
          <label
            for="floating_email"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Sex</label
          >
          <app-forms-error
            *ngIf="
              formControl('sex')?.invalid &&
              (formControl('sex')?.dirty || formControl('sex')?.touched)
            "
            [formControlRequired]="formControl('sex')!.errors?.['required']"
            [formControlPattern]="formControl('sex')!.errors?.['pattern']"
          ></app-forms-error>
        </div>
        <div
          class="relative z-0 w-full mb-5 group col-span-5 tablet:col-span-1"
        >
          <input
            type="text"
            name="floating_email"
            id="floating_email"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-blue dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            formControlName="language"
            placeholder=" "
            required
          />
          <label
            for="floating_email"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Language</label
          >
          <app-forms-error
            *ngIf="
              formControl('language')?.invalid &&
              (formControl('language')?.dirty ||
                formControl('language')?.touched)
            "
            [formControlRequired]="formControl('language')!.errors?.['required']"
            [formControlPattern]="formControl('language')!.errors?.['pattern']"
          ></app-forms-error>
        </div>
        <div
          class="relative z-0 w-full mb-5 group col-span-5 tablet:col-span-1"
        >
          <input
            type="text"
            name="floating_email"
            id="floating_email"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-blue dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            formControlName="citizenship"
            placeholder=" "
            required
          />
          <label
            for="floating_email"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Citizenship</label
          >
          <app-forms-error
            *ngIf="
              formControl('citizenship')?.invalid &&
              (formControl('citizenship')?.dirty ||
                formControl('citizenship')?.touched)
            "
            [formControlRequired]="formControl('citizenship')!.errors?.['required']"
            [formControlPattern]="formControl('citizenship')!.errors?.['pattern']"
          ></app-forms-error>
        </div>
        <div
          class="relative z-0 w-full mb-5 group col-span-5 tablet:col-span-1"
        >
          <input
            type="text"
            name="floating_email"
            id="floating_email"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-blue dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            formControlName="age"
            placeholder=" "
            required
          />
          <label
            for="floating_email"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Age</label
          >
          <app-forms-error
            *ngIf="
              formControl('age')?.invalid &&
              (formControl('age')?.dirty || formControl('age')?.touched)
            "
            [formControlRequired]="formControl('age')!.errors?.['required']"
            [formControlNumber]="formControl('age')!.errors?.['pattern']"
          ></app-forms-error>
        </div>
        <div
          class="relative z-0 w-full mb-5 group col-span-5 tablet:col-span-1"
        >
          <input
            type="text"
            name="floating_email"
            id="floating_email"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-blue dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            formControlName="civil_status"
            placeholder=" "
            required
          />
          <label
            for="floating_email"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Civil Status</label
          >
          <app-forms-error
            *ngIf="
              formControl('civil_status')?.invalid &&
              (formControl('civil_status')?.dirty ||
                formControl('civil_status')?.touched)
            "
            [formControlRequired]="formControl('civil_status')!.errors?.['required']"
            [formControlPattern]="formControl('civil_status')!.errors?.['pattern']"
          ></app-forms-error>
        </div>
        <input
          [ngClass]="{
            'bg-red-700 cursor-not-allowed': !facultyInfo.valid,
            'bg-blue cursor-pointer': facultyInfo.valid
          }"
          [disabled]="editLoading$ | async"
          class="h-[40px] col-span-5 tablet:min-w-[80px] tablet:max-w-[160px] rounded-full transition-all text-white font-Poppins font-semibold shadow-main hover:scale-[101%] hover:duration-300 duration-300"
          type="submit"
          value="Submit"
        />
      </form>
    </div>
    <!-- Password -->
    <div
      class="bg-white rounded-[15px] p-4 laptop:w-[220px] desktop:min-w-[320px]"
    >
      <form
        action=""
        class="flex flex-col justify-between h-full"
        (ngSubmit)="submitPassword()"
        [formGroup]="newPasswordInfo"
      >
        <div>
          <h4 class="text-[1.5rem] mb-4">Reset Password</h4>

          <div
            class="relative z-0 w-full mb-5 group col-span-5 tablet:col-span-1"
          >
            <div class="relative">
              <input
                [type]="newPrivSwitch ? 'text' : 'password'"
                name="floating_email"
                id="floating_email"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-blue dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                formControlName="newPassword"
                placeholder=" "
                required
              />
              @if(!newPrivSwitch) {

              <svg
                [class.hide]="newPrivSwitch"
                (click)="newPrivSwitch = !newPrivSwitch"
                class="w-[30px] h-[30px] text-gray-800 dark:text-red absolute right-0 top-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="m4 15.6 3-3V12a5 5 0 0 1 5-5h.5l1.8-1.7A9 9 0 0 0 12 5C6.6 5 2 10.3 2 12c.3 1.4 1 2.7 2 3.6Z"
                />
                <path
                  d="m14.7 10.7 5-5a1 1 0 1 0-1.4-1.4l-5 5A3 3 0 0 0 9 12.7l.2.6-5 5a1 1 0 1 0 1.4 1.4l5-5 .6.2a3 3 0 0 0 3.6-3.6 3 3 0 0 0-.2-.6Z"
                />
                <path
                  d="M19.8 8.6 17 11.5a5 5 0 0 1-5.6 5.5l-1.7 1.8 2.3.2c6.5 0 10-5.2 10-7 0-1.2-1.6-2.9-2.2-3.4Z"
                />
              </svg>

              } @else {

              <svg
                [class.hide]="!newPrivSwitch"
                (click)="newPrivSwitch = !newPrivSwitch"
                class="w-[30px] h-[30px] text-gray-800 dark:text-red absolute right-0 top-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M5 7.8C6.7 6.3 9.2 5 12 5s5.3 1.3 7 2.8a12.7 12.7 0 0 1 2.7 3.2c.2.2.3.6.3 1s-.1.8-.3 1a2 2 0 0 1-.6 1 12.7 12.7 0 0 1-9.1 5c-2.8 0-5.3-1.3-7-2.8A12.7 12.7 0 0 1 2.3 13c-.2-.2-.3-.6-.3-1s.1-.8.3-1c.1-.4.3-.7.6-1 .5-.7 1.2-1.5 2.1-2.2Zm7 7.2a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                  clip-rule="evenodd"
                />
              </svg>
              }
            </div>
            <label
              for="floating_email"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >New Password</label
            >
            <app-forms-error
              *ngIf="
                passwordFormControl('newPassword')?.invalid &&
                (passwordFormControl('newPassword')?.dirty ||
                  passwordFormControl('newPassword')?.touched)
              "
              [formControlRequired]="passwordFormControl('newPassword')!.errors?.['required']"
              [formControlPasswordMinLength]="passwordFormControl('newPassword')!.errors?.['minlength']"
              [newConfirmDontMatch]="newConfirmdoesntMatchError"
            ></app-forms-error>
          </div>
          <div
            class="relative z-0 w-full mb-5 group col-span-5 tablet:col-span-1"
          >
            <div class="relative">
              <input
                [type]="privSwitch ? 'text' : 'password'"
                name="floating_email"
                id="floating_email"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-blue dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                formControlName="confirmPassword"
                placeholder=" "
                required
              />

              @if(!privSwitch) {

              <svg
                [class.hide]="privSwitch"
                (click)="privSwitch = !privSwitch"
                class="w-[30px] h-[30px] text-gray-800 dark:text-red absolute right-0 top-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="m4 15.6 3-3V12a5 5 0 0 1 5-5h.5l1.8-1.7A9 9 0 0 0 12 5C6.6 5 2 10.3 2 12c.3 1.4 1 2.7 2 3.6Z"
                />
                <path
                  d="m14.7 10.7 5-5a1 1 0 1 0-1.4-1.4l-5 5A3 3 0 0 0 9 12.7l.2.6-5 5a1 1 0 1 0 1.4 1.4l5-5 .6.2a3 3 0 0 0 3.6-3.6 3 3 0 0 0-.2-.6Z"
                />
                <path
                  d="M19.8 8.6 17 11.5a5 5 0 0 1-5.6 5.5l-1.7 1.8 2.3.2c6.5 0 10-5.2 10-7 0-1.2-1.6-2.9-2.2-3.4Z"
                />
              </svg>

              }@else {

              <svg
                [class.hide]="!privSwitch"
                (click)="privSwitch = !privSwitch"
                class="w-[30px] h-[30px] text-gray-800 dark:text-red absolute right-0 top-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M5 7.8C6.7 6.3 9.2 5 12 5s5.3 1.3 7 2.8a12.7 12.7 0 0 1 2.7 3.2c.2.2.3.6.3 1s-.1.8-.3 1a2 2 0 0 1-.6 1 12.7 12.7 0 0 1-9.1 5c-2.8 0-5.3-1.3-7-2.8A12.7 12.7 0 0 1 2.3 13c-.2-.2-.3-.6-.3-1s.1-.8.3-1c.1-.4.3-.7.6-1 .5-.7 1.2-1.5 2.1-2.2Zm7 7.2a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                  clip-rule="evenodd"
                />
              </svg>
              }
            </div>
            <label
              for="floating_email"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Confirm Password</label
            >
            <app-forms-error
              *ngIf="
                passwordFormControl('confirmPassword')?.invalid &&
                (passwordFormControl('confirmPassword')?.dirty ||
                  passwordFormControl('confirmPassword')?.touched)
              "
              [formControlRequired]="passwordFormControl('confirmPassword')!.errors?.['required']"
              [formControlPasswordMinLength]="passwordFormControl('confirmPassword')!.errors?.['minlength']"
              [newConfirmDontMatch]="newConfirmdoesntMatchError"
            ></app-forms-error>
          </div>
        </div>
        <input
          [ngClass]="{
            'bg-red-700 cursor-not-allowed': !newPasswordInfo.valid,
            'bg-blue cursor-pointer': newPasswordInfo.valid
          }"
          [disabled]="passwordLoading$ | async"
          class="h-[40px] rounded-full transition-all text-white font-Poppins font-semibold shadow-main hover:scale-[101%] hover:duration-300 duration-300"
          type="submit"
          value="Reset Password"
        />
      </form>
    </div>
  </div>
</div>
