<!--app-loading-screen *ngIf="isLoading"></app-loading-screen> -->

<div
  class="bg-white shadow-lg bg-opacity-70 w-full  flex flex-col px-5 gap-2"
>
  <div
    class="bg-white shadow-lg bg-opacity-70 w-full rounded-[25px] flex flex-col tablet:flex-row tablet:justify-between items-center px-5"
  >
    <h1 class="font-Poppins font-semibold text-[2.5rem] py-2 text-blue">
      Faculty Management
    </h1>
    <button
    (click)="openForm()"
    class="bg-gradient-to-r from-blue to-greenBar text-white font-Poppins font-semibold w-[125px] h-[40px] rounded-full shadow-xl hover:scale-[102%] hover:duration-300 duration-300"
  >
    +Add
  </button>
  </div>

  <app-faculty-section></app-faculty-section>
</div>
