<app-loading-screen *ngIf="isLoading"></app-loading-screen>
<div class="p-5 grid gap-3">
    <div (click)="goBack()" class="w-[50px] h-[50px] bg-white rounded-full shadow-main flex justify-center items-center">
        <svg width="35" height="35" viewBox="0 0 67 67" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.6562 31.4062H56.5312C57.0865 31.4062 57.6191 31.6268 58.0118 32.0195C58.4044 32.4121 58.625 32.9447 58.625 33.5C58.625 34.0553 58.4044 34.5879 58.0118 34.9805C57.6191 35.3732 57.0865 35.5938 56.5312 35.5938H14.6562C14.101 35.5938 13.5684 35.3732 13.1757 34.9805C12.7831 34.5879 12.5625 34.0553 12.5625 33.5C12.5625 32.9447 12.7831 32.4121 13.1757 32.0195C13.5684 31.6268 14.101 31.4062 14.6562 31.4062Z" fill="#074287"/>
            <path d="M15.5229 33.4997L32.8885 50.8611C33.2816 51.2542 33.5025 51.7875 33.5025 52.3435C33.5025 52.8995 33.2816 53.4327 32.8885 53.8258C32.4953 54.219 31.9621 54.4399 31.4061 54.4399C30.8501 54.4399 30.3169 54.219 29.9237 53.8258L11.08 34.9821C10.885 34.7876 10.7303 34.5565 10.6247 34.3022C10.5192 34.0478 10.4648 33.7751 10.4648 33.4997C10.4648 33.2243 10.5192 32.9516 10.6247 32.6972C10.7303 32.4429 10.885 32.2118 11.08 32.0173L29.9237 13.1736C30.3169 12.7804 30.8501 12.5596 31.4061 12.5596C31.9621 12.5596 32.4953 12.7804 32.8885 13.1736C33.2816 13.5667 33.5025 14.1 33.5025 14.656C33.5025 15.212 33.2816 15.7452 32.8885 16.1383L15.5229 33.4997Z" fill="#074287"/>
        </svg>
            
    </div>
    
    <form
        *ngIf="!isLoading"
        enctype="multipart/form-data"
        action=""
        [formGroup]="facultyInfo"
        (ngSubmit)="onSubmit()"
    >
        
        <div class="flex flex-col grid gap-3" id="contents">
            <div class="bg-white rounded-[15px] grid gap-3 shadow-main p-5">
                <div>
                    <h4 class="font-Poppins font-bold text-[2rem] text-blue">
                        <span *ngIf="formControl('college_ID')!.errors?.['required']">
                        <i
                            class="fa-solid fa-triangle-exclamation mr-2 text-red-700"
                        ></i> 
                        </span>
                        College
                        <hr class="border-[1.5px] border-slate-400">
                    </h4>
                    <div class="grid grid-cols-5 gap-2 items-stretch">
                        @for (college of colleges$ | async; track college.college_ID) {
                        <app-gc-box
                        [college]="college"
                        [selectedCollege]="selectedCollege"
                        (setRole)="setCollege($event)"
                        [radioGroup]="'college'"
                        class="flex-1"
                        ></app-gc-box>
                        }
                    </div>
                </div>

                <div class="flex flex-row gap-3 w-full">
                    <div class="flex flex-1 flex-col">
                        <h4
                            class="font-Poppins font-bold text-[2rem] text-blue"
                        >
                            <span
                            *ngIf="formControl('employment_status')!.errors?.['required']"
                            >
                            <i class="fa-solid fa-triangle-exclamation mr-2 text-red-700"></i>
                            </span>
                            Employment
                            <hr class="border-[1.5px] border-slate-400">
                        </h4>
                        <div class="grid grid-cols-2 gap-2 pt-4">
                            <app-employee-type
                            *ngFor="let employment of employmentStatus"
                            [employment]="employment"
                            [selectedEmployeeType]="selectedEmployeeType"
                            (setRole)="setEmployment($event)"
                            [radioGroup]="'employment_status'"
                            class="select-none"
                            ></app-employee-type>
                        </div>
                    </div>

                    <div class="flex flex-1 flex-col">
                        <h4
                            class="font-Poppins font-bold text-[2rem] text-blue"
                        >
                            <span
                            *ngIf="formControl('teaching_position')!.errors?.['required']"
                            >
                            <i class="fa-solid fa-triangle-exclamation mr-2 text-red-700"></i>
                            </span>
                            Position
                            <hr class="border-[1.5px] border-slate-400">
                        </h4>
                        <div class="flex flex-row gap-2 pt-4 w-full">
                            <app-employee-position
                            *ngFor="let position of positions"
                            [position]="position"
                            [selectedEmployeePosition]="selectedEmployeePosition"
                            (setRole)="setPosition($event)"
                            [radioGroup]="'employment_position'"
                            class="select-none"
                            ></app-employee-position>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-white rounded-[15px] shadow-main p-5">

                <h4 class="font-Poppins font-bold text-[2rem] text-blue">
                    Personal Information
                    <hr class="border-[1.5px] border-slate-400">
                </h4>
                <div class="flex flex-row w-full rounded-full shadow-main">
                    <div
                    class="rounded-full w-[200px] h-[200px] aspect-square overflow-hidden flex justify-center items-center shadow-main"
                    >
            
                    @if(imageURL) {
                    <label for="previewimgzone-file" class="cursor-pointer">
                        <input
                        id="previewimgzone-file"
                        type="file"
                        class="hidden"
                        (change)="PreviewImage($event, 'profile')"
                        accept="image/*"
                        />
                        <img
                        [src]="imageURL"
                        alt="image"
                        class="w-full h-full object-cover"
                        />
                    </label>
                    } @else {
                    <label
                        for="dropzone-file"
                        class="flex flex-col items-center justify-center w-full cursor-pointer"
                    >
                        <svg
                        width="30"
                        height="31"
                        viewBox="0 0 30 31"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        >
                        <g clip-path="url(#clip0_984_350)">
                            <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M11.25 6.75C11.25 6.08696 11.5134 5.45107 11.9822 4.98223C12.4511 4.51339 13.087 4.25 13.75 4.25H16.25C16.913 4.25 17.5489 4.51339 18.0178 4.98223C18.4866 5.45107 18.75 6.08696 18.75 6.75V11.75H23.75C24.413 11.75 25.0489 12.0134 25.5178 12.4822C25.9866 12.9511 26.25 13.587 26.25 14.25V16.75C26.25 17.413 25.9866 18.0489 25.5178 18.5178C25.0489 18.9866 24.413 19.25 23.75 19.25H18.75V24.25C18.75 24.913 18.4866 25.5489 18.0178 26.0178C17.5489 26.4866 16.913 26.75 16.25 26.75H13.75C13.087 26.75 12.4511 26.4866 11.9822 26.0178C11.5134 25.5489 11.25 24.913 11.25 24.25V19.25H6.25C5.58696 19.25 4.95107 18.9866 4.48223 18.5178C4.01339 18.0489 3.75 17.413 3.75 16.75V14.25C3.75 13.587 4.01339 12.9511 4.48223 12.4822C4.95107 12.0134 5.58696 11.75 6.25 11.75H11.25V6.75Z"
                            fill="#BCBCBC"
                            />
                        </g>
                        <defs>
                            <clipPath id="clip0_984_350">
                            <rect
                                width="30"
                                height="30"
                                fill="white"
                                transform="translate(0 0.5)"
                            />
                            </clipPath>
                        </defs>
                        </svg>
                        <p class="font-bold text-gray-300">Profile Upload</p>
                        <input
                        id="dropzone-file"
                        type="file"
                        class="hidden"
                        (change)="PreviewImage($event, 'profile')"
                        accept="image/*"
                        />
                    </label>
                    }
                    </div>
                    <div
                    class="flex flex-1 items-center justify-center h-[200px] w-full overflow-hidden rounded-full"
                    >
                    @if(coverURL) {
                    <label for="previewcoverzone-file" class="cursor-pointer w-full h-full object-cover">
                        <img
                        [src]="coverURL"
                        alt="cover"
                        class="w-full h-full object-cover"
                        />
                        <input
                        id="previewcoverzone-file"
                        type="file"
                        class="hidden"
                        (change)="PreviewImage($event, 'cover')"
                        accept="image/*"
                    />
                    </label>
                    } @else {
                    <label
                        for="dropzone-file-cover"
                        class="flex flex-col items-center justify-center w-full cursor-pointer"
                    >
                        <svg
                        width="30"
                        height="31"
                        viewBox="0 0 30 31"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        >
                        <g clip-path="url(#clip0_984_350)">
                            <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M11.25 6.75C11.25 6.08696 11.5134 5.45107 11.9822 4.98223C12.4511 4.51339 13.087 4.25 13.75 4.25H16.25C16.913 4.25 17.5489 4.51339 18.0178 4.98223C18.4866 5.45107 18.75 6.08696 18.75 6.75V11.75H23.75C24.413 11.75 25.0489 12.0134 25.5178 12.4822C25.9866 12.9511 26.25 13.587 26.25 14.25V16.75C26.25 17.413 25.9866 18.0489 25.5178 18.5178C25.0489 18.9866 24.413 19.25 23.75 19.25H18.75V24.25C18.75 24.913 18.4866 25.5489 18.0178 26.0178C17.5489 26.4866 16.913 26.75 16.25 26.75H13.75C13.087 26.75 12.4511 26.4866 11.9822 26.0178C11.5134 25.5489 11.25 24.913 11.25 24.25V19.25H6.25C5.58696 19.25 4.95107 18.9866 4.48223 18.5178C4.01339 18.0489 3.75 17.413 3.75 16.75V14.25C3.75 13.587 4.01339 12.9511 4.48223 12.4822C4.95107 12.0134 5.58696 11.75 6.25 11.75H11.25V6.75Z"
                            fill="#BCBCBC"
                            />
                        </g>
                        <defs>
                            <clipPath id="clip0_984_350">
                            <rect
                                width="30"
                                height="30"
                                fill="white"
                                transform="translate(0 0.5)"
                            />
                            </clipPath>
                        </defs>
                        </svg>
                        <p class="font-bold text-gray-300">Cover Upload</p>
                        <input
                        id="dropzone-file-cover"
                        type="file"
                        class="hidden"
                        (change)="PreviewImage($event, 'cover')"
                        accept="image/*"
                        />
                    </label>
            
                    }
                    </div>
                </div>
                <div class="flex flex-col gap-4">
                    <div class="flex justify-center items-center gap-4">
                    <div class="flex flex-col flex-1" *ngFor="let col of column1">
                        <label class="formTextFormat uppercase" [for]="col">{{ col }}</label>
                        <input
                        [id]="col"
                        [name]="col"
                        [ngClass]="{
                            'border-b-[4px] border-red-500':
                            formControl(col)!.invalid &&
                            (formControl(col)?.dirty || formControl(col)?.touched)
                        }"
                        [type]="
                            col === 'email'
                            ? 'email'
                            : col === 'birthdate'
                            ? 'date'
                            : 'text'
                        "
                        class="formTemplate"
                        [formControlName]="col"
                        />
                        <app-forms-error
                        *ngIf="
                            formControl(col)?.invalid &&
                            (formControl(col)?.dirty || formControl(col)?.touched)
                        "
                        [formControlRequired]="formControl(col)!.errors?.['required']"
                        [formControlEmail]="formControl(col)!.errors?.['email']"
                        [formControlNumber]="col == 'phone_number' ? formControl(col)!.errors?.['pattern'] : null"
                        ></app-forms-error>
                    </div>
                    </div>
                    <div class="flex justify-center items-center gap-4">
                    <div class="flex flex-col flex-1 gap-2" *ngFor="let col of column2">
                        <label class="formTextFormat uppercase" [for]="col">{{
                        col
                        }}</label>
                        <input
                        [id]="col"
                        [name]="col"
                        [ngClass]="{
                            'border-b-[4px] border-red-500':
                            formControl(col)!.invalid &&
                            (formControl(col)?.dirty || formControl(col)?.touched)
                        }"
                        type="text"
                        class="formTemplate"
                        [formControlName]="col"
                        />
                        <app-forms-error
                        *ngIf="
                            formControl(col)?.invalid &&
                            (formControl(col)?.dirty || formControl(col)?.touched)
                        "
                        [formControlRequired]="formControl(col)!.errors?.['required']"
                        [formControlPattern]="formControl(col)!.errors?.['pattern']"
                        ></app-forms-error>
                    </div>
                    </div>
                    <div class="flex justify-center items-center gap-4">
                    <div class="flex flex-col flex-1" *ngFor="let col of column3">
                        <label class="formTextFormat uppercase" [for]="col">{{
                        col
                        }}</label>
                        <input
                        [id]="col"
                        [name]="col"
                        [ngClass]="{
                            'border-b-[4px] border-red-500':
                            formControl(col)!.invalid &&
                            (formControl(col)?.dirty || formControl(col)?.touched)
                        }"
                        type="text"
                        class="formTemplate"
                        [formControlName]="col"
                        />
                        <app-forms-error
                        *ngIf="
                            formControl(col)?.invalid &&
                            (formControl(col)?.dirty || formControl(col)?.touched)
                        "
                        [formControlRequired]="formControl(col)!.errors?.['required']"
                        [formControlPattern]="formControl(col)!.errors?.['pattern']"
                        ></app-forms-error>
                    </div>
                    </div>
                    <div class="flex justify-center items-start gap-4">
                    <div class="flex flex-col flex-1" *ngFor="let col of column4">
                        <label class="formTextFormat uppercase" [for]="col">{{
                        col
                        }}</label>
                        <input
                        [id]="col"
                        [name]="col"
                        [ngClass]="{
                            'border-b-[4px] border-red-500':
                            formControl(col)!.invalid &&
                            (formControl(col)?.dirty || formControl(col)?.touched)
                        }"
                        type="text"
                        class="formTemplate"
                        [formControlName]="col"
                        />
                        <app-forms-error
                        *ngIf="
                            formControl(col)?.invalid &&
                            (formControl(col)?.dirty || formControl(col)?.touched)
                        "
                        [formControlRequired]="formControl(col)!.errors?.['required']"
                        [formControlPattern]="col !== 'age' ? formControl(col)!.errors?.['pattern'] : null"
                        [formControlNumber]="col == 'age' ? formControl(col)!.errors?.['pattern'] : null"
                        ></app-forms-error>
                    </div>
                    </div>
                    <div class="w-full flex justify-end gap-4">
                    <input
                        [ngClass]="{
                        'bg-red-700 cursor-not-allowed': facultyInfo.invalid,
                        'bg-blue cursor-pointer': !facultyInfo.invalid
                        }"
                        [disabled]="facultyInfo.invalid"
                        id="addFact"
                        type="submit"
                        value="{{ editMode ? 'Edit' : 'Add'}} Faculty"
                        class="w-[130px] h-[40px] rounded-full transition-all text-white font-Poppins font-semibold shadow-main hover:scale-[101%] hover:duration-300 duration-300"
                    />
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

  