/* animation: myAnim 1s ease-out 5000ms 1 normal forwards; */
.msg-box {
  animation: myAnim 1s ease 5s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}
