<div
  class="h-[60px] bg-white overscroll-none justify-end items-center py-2 px-4 flex flex-row"
>
  <div
    class="flex-initial justify-between items-center rounded-full border-[2px] border-blue flex flex-row gap-2 h-full px-2 py-1 min-w-[150px]"
  >
    <div class="flex-1 h-full flex gap-2 items-center">
      <img
        src="../../../../assets/profiles/ains.png"
        alt=""
        class="h-full rounded-full"
      />
      <p>Name</p>
    </div>
    <i class="fa-solid fa-chevron-down"></i>
  </div>
  <div class="w-100 h-[60px] bg-white overscroll-none flex justify-end">
    <div (click)="logout()" class="bg-blue">Logout test button</div>
  </div>
</div>
