<div class="p-5 rounded-[15px]">
    <p class="font-Roboto font-semibold text-blue">Are you sure you want to logout?</p>
    <div class="flex flex-row justify-between m-2">
        <div class="w-[90px] h-[40px] rounded-[25px] shadow-lg flex justify-center items-center select-none hover:bg-slate-200 hover:duration-300" (click)="onNoClick()">Cancel</div>
        <div class="w-[90px] h-[40px] rounded-[25px] shadow-lg flex justify-center items-center select-none hover:bg-slate-200 hover:duration-300" (click)="logout()">Proceed</div>
    </div>
</div>