<div class="p-5 flex flex-col gap-y-3 text-blue">
  <div
    class="bg-white shadow-main w-full rounded-[15px] flex flex-col tablet:flex-row tablet:justify-between items-center px-5"
  >
    <h1
      class="font-Poppins font-semibold text-[1.5rem] tablet:text-[2.5rem] tablet:text-start text-center py-2"
    >
      Individual Analytics
    </h1>
  </div>

  <div class="w-full flex flex-col tablet:flex-row gap-3">
    <div
      class="bg-white tablet:max-w-[250px] max-w-full min-w-full tablet:min-w-[250px] overflow-hidden rounded-[15px] shadow-main flex flex-col items-center"
      *ngIf="facultyProfile$ | async as profile"
    >
      <div
        class="flex-1 w-full overflow-hidden hidden tablet:flex flex-col justify-center items-center"
      >
        <img
          class="object-cover"
          [src]="port + profile.profile_image"
          onerror="this.onerror=null; this.src='/assets/profiles/user.png'"
        />
      </div>
      <p
        class="font-Poppins font-semibold text-blue text-[1.5rem] leading-[25px] p-2"
      >
        {{ profile.first_name + " " + profile.last_name }}
      </p>
    </div>

    <div class="grid flex-1 gap-3 flex flex-row table:flex-col">
      <div
        class="flex flex-col bg-white rounded-[15px] shadow-main p-3 overflow-x-auto"
      >
        <p
          class="text-blue text-[1.5rem] font-Poppins font-semibold tablet:text-start text-center"
        >
          Milestone Calendar
        </p>
        <p class="italic">As of {{ currentYear }}</p>
        <app-faculty-milestone-calendar
          [type]="'faculty'"
        ></app-faculty-milestone-calendar>
      </div>

      <div class="w-full flex flex-col tablet:flex-row gap-3">
        <div
          class="bg-white shadow-main rounded-[15px] overflow-hidden flex flex-col flex-1 justify-center items-center py-3"
        >
          <p
            class="text-center text-blue text-[0.9rem] font-Poppins font-semibold"
          >
            Average Faculty Evaluation Score
          </p>
          <p
            class="text-greenBar text-[4rem] font-Poppins font-bold leading-[90%]"
            [textContent]="evalAverage$ | async | number : '1.1-1'"
          ></p>
        </div>
        <div
          class="bg-white shadow-main rounded-[15px] overflow-hidden flex flex-col flex-1 justify-center items-center py-3"
        >
          <p
            class="text-center text-blue text-[0.9rem] font-Poppins font-semibold"
          >
            Units Undertaken
          </p>
          <p
            class="text-greenBar text-[4rem] font-Poppins font-bold leading-[90%]"
            [textContent]="units$ | async"
          ></p>
        </div>
        <div
          class="bg-white shadow-main rounded-[15px] overflow-hidden flex flex-col flex-1 justify-center items-center py-3"
        >
          <p
            class="text-center text-blue text-[0.9rem] font-Poppins font-semibold"
          >
            Total Certificates
          </p>
          <p
            class="text-greenBar text-[4rem] font-Poppins font-bold leading-[90%]"
            [textContent]="certCount$ | async"
          ></p>
        </div>
        <div
          class="bg-white shadow-main rounded-[15px] overflow-hidden flex flex-col flex-1 justify-center items-center py-3"
        >
          <p
            class="text-center text-blue text-[0.9rem] font-Poppins font-semibold"
          >
            Seminars Completed
          </p>
          <p
            class="text-greenBar text-[4rem] font-Poppins font-bold leading-[90%]"
            [textContent]="seminarCount$ | async"
          ></p>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="milestonesAchieved$ | async as milestone"
    class="w-full bg-white rounded-[15px] shadow-main p-5 pt-1"
  >
    <div class="flex gap-2">
      <p
        class="text-blue font-bold mobileS:text-[1.25rem] mobileM:text-[1.5rem] tablet:[2rem] my-2 tablet:text-start text-center"
      >
        Milestones Achieved Each Year
      </p>
      <button (click)="generateMilestoneReport()">Generate Report</button>
    </div>
    <app-bar-chart
      [data]="milestone"
      [axis]="'x'"
      [bgColor]="'rgb(7, 66, 135)'"
      [labels]="yearsArray"
      [showLegend]="false"
    >
      >
    </app-bar-chart>
  </div>

  <div
    *ngIf="attainmentTimeline$ | async as attainment"
    class="w-full bg-white rounded-[15px] shadow-main p-5 pt-1"
  >
    <div class="flex flex-col justify-center">
      <div class="flex gap-2">
        <p
          class="text-blue font-bold mobileS:text-[1.25rem] mobileM:text-[1.5rem] tablet:[2rem] my-2 tablet:text-start text-center my-2"
        >
          Attainment Timeline
        </p>
        <button (click)="generateAttainmentReport()">Generate Report</button>
      </div>
      <div class="flex flex-col tablet:flex-row gap-2 mb-2">
        <div class="flex flex-row gap-1">
          <div
            class="w-[23px] h-[23px] rounded-[5px] shadow-main duration-300 hover:duration-300 hover:bg-opacity-50"
            [ngClass]="certToggle ? 'bg-greenBar' : 'bg-slate-200'"
            (click)="certToggle = !certToggle"
          ></div>
          <p class="font-Roboto font-medium text-blue">Certifications</p>
        </div>
        <div class="flex flex-row gap-1">
          <div
            class="w-[23px] h-[23px] rounded-[5px] shadow-main duration-300 hover:duration-300 hover:bg-opacity-50"
            [ngClass]="commexToggle ? 'bg-greenBar' : 'bg-slate-200'"
            (click)="commexToggle = !commexToggle"
          ></div>
          <p class="font-Roboto font-medium text-blue">Community Extensions</p>
        </div>
        <div class="flex flex-row gap-1">
          <div
            class="w-[23px] h-[23px] rounded-[5px] shadow-main duration-300 hover:duration-300 hover:bg-opacity-50"
            [ngClass]="seminarToggle ? 'bg-greenBar' : 'bg-slate-200'"
            (click)="seminarToggle = !seminarToggle"
          ></div>
          <p class="font-Roboto font-medium text-blue">Seminars</p>
        </div>
      </div>
    </div>
    <app-line-graph
      [data]="certToggle ? attainment[0] : []"
      [data2]="commexToggle ? attainment[1] : []"
      [data3]="seminarToggle ? attainment[2] : []"
      [labels]="yearsArray"
      [showLegend]="false"
    >
    </app-line-graph>
  </div>

  <!-- <div *ngIf="(milestoneCount$ | async) as milestone" class="w-full bg-white rounded-[15px] shadow-main p-5 pt-1">
        <p class="text-blue font-bold text-[2rem] my-2">Milestones Achieved Each Year</p>
        <app-bar-chart
        [data]="milestone"
        [axis]="'x'"
        [bgColor]="'rgb(7, 66, 135)'"
        [labels]="yearsArray"
        [showLegend]="false">
        >
        </app-bar-chart>
    </div>

    <div *ngIf="(attainmentTimeline$ | async) as attainment" class="w-full bg-white rounded-[15px] shadow-main p-5 pt-1">
        <div class="flex flex-row items-center gap-3">
            <p class="text-blue font-bold text-[2rem] my-2">Attainment Timeline</p>
            <div class="flex flex-row gap-1">
                <div
                class="w-[23px] h-[23px] rounded-[5px] shadow-main duration-300 hover:duration-300 hover:bg-opacity-50"
                [ngClass]="certToggle ? 'bg-greenBar' : 'bg-slate-200'"
                (click)="certToggle = !certToggle"></div>
                <p class="font-Roboto font-medium text-blue">Certifications</p>
            </div>

            <div class="flex flex-row gap-1">
                <div
                class="w-[23px] h-[23px] rounded-[5px] shadow-main duration-300 hover:duration-300 hover:bg-opacity-50"
                [ngClass]="commexToggle ? 'bg-greenBar' : 'bg-slate-200'"
                (click)="commexToggle = !commexToggle"></div>
                <p class="font-Roboto font-medium text-blue">Community Extensions</p>
            </div>

            <div class="flex flex-row gap-1">
                <div
                class="w-[23px] h-[23px] rounded-[5px] shadow-main duration-300 hover:duration-300 hover:bg-opacity-50"
                [ngClass]="seminarToggle ? 'bg-greenBar' : 'bg-slate-200'"
                (click)="seminarToggle = !seminarToggle"></div>
                <p class="font-Roboto font-medium text-blue">Seminars</p>
            </div>

        </div>
        <app-line-graph
        [data]="certToggle ? attainment[0] : []"
        [data2]="commexToggle ? attainment[1] : []"
        [data3]="seminarToggle ? attainment[2] : []"
        [labels]="yearsArray"
        [showLegend]="false">
        </app-line-graph>
    </div> -->
</div>
