<div class="flex flex-col gap-4">
  <div class="flex justify-center items-center gap-4">
    <div class="flex flex-col flex-1">
      <label for="">Email</label>
      <input
        type="text"
        class="flex-1 bg-white px-2 py-1 rounded-[8px]"
        formControlName="email"
      />
    </div>
    <div class="flex flex-col flex-1">
      <label for="">PHONE NUMBER</label>
      <input
        type="text"
        class="flex-1 bg-white px-2 py-1 rounded-[8px]"
        formControlName="phonenumber"
      />
    </div>
    <div class="flex flex-col flex-1">
      <label for="">BIRTHDATE</label>
      <input
        type="text"
        class="flex-1 bg-white px-2 py-1 rounded-[8px]"
        formControlName="birthdate"
      />
    </div>
  </div>
  <div class="flex justify-center items-center gap-4">
    <div class="flex flex-col flex-1">
      <label for="">LASTNAME</label>
      <input
        type="text"
        class="flex-1 bg-white px-2 py-1 rounded-[8px]"
        formControlName="lastname"
      />
    </div>
    <div class="flex flex-col flex-1">
      <label for="">FIRSTNAME</label>
      <input
        type="text"
        class="flex-1 bg-white px-2 py-1 rounded-[8px]"
        formControlName="firstname"
      />
    </div>
    <div class="flex flex-col flex-1">
      <label for="">MIDDLENAME</label>
      <input
        type="text"
        class="flex-1 bg-white px-2 py-1 rounded-[8px]"
        formControlName="middlename"
      />
    </div>
    <div class="flex flex-col flex-1">
      <label for="">EXT. NAME</label>
      <input
        type="text"
        class="flex-1 bg-white px-2 py-1 rounded-[8px]"
        formControlName="extname"
      />
    </div>
  </div>
  <div class="flex justify-center items-center gap-4">
    <div class="flex flex-col flex-1">
      <label for="">REGION</label>
      <input
        type="text"
        class="flex-1 bg-white px-2 py-1 rounded-[8px]"
        formControlName="region"
      />
    </div>
    <div class="flex flex-col flex-1">
      <label for="">PROVINCE</label>
      <input
        type="text"
        class="flex-1 bg-white px-2 py-1 rounded-[8px]"
        formControlName="province"
      />
    </div>
    <div class="flex flex-col flex-1">
      <label for="">CITY/MUNICIPALITY</label>
      <input
        type="text"
        class="flex-1 bg-white px-2 py-1 rounded-[8px]"
        formControlName="city"
      />
    </div>
    <div class="flex flex-col flex-1">
      <label for="">BARANGAY</label>
      <input
        type="text"
        class="flex-1 bg-white px-2 py-1 rounded-[8px]"
        formControlName="barangay"
      />
    </div>
  </div>
  <div class="flex justify-center items-start gap-4">
    <img
      src="../../../assets/profiles/batman.jpg"
      alt=""
      class="aspect-square min-w-[80px]"
    />
    <div class="flex flex-col flex-1">
      <label for="">GENDER</label>
      <input
        type="text"
        class="flex-1 bg-white px-2 py-1 rounded-[8px]"
        formControlName="gender"
      />
    </div>
    <div class="flex flex-col flex-1">
      <label for="">LANGUAGE</label>
      <input
        type="text"
        class="flex-1 bg-white px-2 py-1 rounded-[8px]"
        formControlName="language"
      />
    </div>
    <div class="flex flex-col flex-1">
      <label for="">NATIONALITY</label>
      <input
        type="text"
        class="flex-1 bg-white px-2 py-1 rounded-[8px]"
        formControlName="nationality"
      />
    </div>
  </div>
  <input type="submit" />
</div>
