@if((profileLoading$ | async) && (certsLoading$ | async) && (educsLoading$ |
async) && (expsLoading$ | async) && (projLoading$ | async) && (exptLoading$ |
async) && (coursesLoading$ | async) && (coursesLoading$ | async) &&
(commexLoading$ | async)) {
<app-loading-screen></app-loading-screen>

} @else {

<div class="p-5 flex flex-col gap-y-3 text-blue">
  <div
    class="bg-white shadow-main w-full rounded-[15px] flex justify-between items-center px-5"
  >
    <h1
      class="font-Poppins font-semibold text-[1.75rem] text-center tablet:text-[2.5rem] py-2"
    >
      Program Analytics
    </h1>
  </div>

  <div
    class="w-full items-center bg-white bg-opacity-70 shadow-main rounded-[15px] p-5"
  >
    <h1
      class="font-Poppins font-semibold mobileS:text-[1.25rem] mobileM:text-[1.5rem] tablet:[2rem] my-2 tablet:text-start text-center"
    >
      Milestone Calendar
    </h1>
    <div class="flex items-center flex-col laptop:flex-row">
      <div
        class="w-full tablet:w-[220px] bg-white rounded-[15px] shadow-main flex flex-col items-center py-5"
      >
        <p
          class="text-blue text-[7rem] font-Poppins font-bold leading-[90%]"
          [textContent]="facultyCount$ | async"
        ></p>
        <p class="text-blue font-Poppins font-bold text-[1.2rem]">
          Faculty Members
        </p>

        <!-- <div class="bg-blue rounded-[15px] shadow-main py-2 px-3 mt-3">
          <p class="text-white text-[0.7rem] font-Poppins font-semibold">
            Browse CCS Curriculum Vitae
          </p>
        </div> -->
      </div>
      <div
        class="flex flex-row flex-1 justify-center items-center w-full overflow-x-auto"
      >
        <app-faculty-milestone-calendar
          [type]="'admin'"
        ></app-faculty-milestone-calendar>
      </div>
    </div>
  </div>

  <div class="w-full flex flex-col tablet:flex-row gap-3">
    <div
      class="bg-white shadow-main rounded-[15px] overflow-hidden flex flex-col flex-1 justify-center items-center py-3"
    >
      <p
        class="text-center text-blue text-[0.9rem] font-Poppins font-semibold"
        *ngIf="profile$ | async as profile"
      >
        {{ profile.college_abbrev }} Average Faculty Evaluation Score
      </p>
      <p
        class="text-greenBar text-[4rem] font-Poppins font-bold leading-[90%]"
        [textContent]="evaluationYearAverage$ | async | number : '1.1-1'"
      ></p>
    </div>
    <div
      class="bg-white shadow-main rounded-[15px] overflow-hidden flex flex-col flex-1 justify-center items-center py-3"
    >
      <p class="text-center text-blue text-[0.9rem] font-Poppins font-semibold">
        Average Class Units per Faculty
      </p>
      <p
        class="text-greenBar text-[4rem] font-Poppins font-bold leading-[90%]"
        [textContent]="unitFacultyAverage$ | async | number : '1.1-1'"
      ></p>
    </div>
    <div
      class="bg-white shadow-main rounded-[15px] overflow-hidden flex flex-col flex-1 justify-center items-center py-3"
    >
      <p class="text-center text-blue text-[0.9rem] font-Poppins font-semibold">
        Average Faculty Total Certificate Count
      </p>
      <p
        class="text-greenBar text-[4rem] font-Poppins font-bold leading-[90%]"
        [textContent]="certCountAverage$ | async | number : '1.1-1'"
      ></p>
    </div>
    <div
      class="bg-white shadow-main rounded-[15px] overflow-hidden flex flex-col flex-1 justify-center items-center py-3"
    >
      <p class="text-center text-blue text-[0.9rem] font-Poppins font-semibold">
        Average Faculty Seminars Attended
      </p>
      <p
        class="text-greenBar text-[4rem] font-Poppins font-bold leading-[90%]"
        [textContent]="seminarYearAverageFaculty$ | async | number : '1.1-1'"
      ></p>
    </div>
  </div>

  <div
    *ngIf="educationalAttainmentTimeline$ | async as educTimeline"
    class="w-full bg-white rounded-[15px] shadow-main p-5 pt-1"
  >
    <div class="flex justify-between">
      <p
        class="text-blue font-bold mobileS:text-[1.25rem] mobileM:text-[1.5rem] tablet:[2rem] my-2 tablet:text-start text-center my-2"
      >
        Educational Attainment Timeline
      </p>
      <button (click)="generateEducReport()">Generate Report</button>
    </div>
    <app-line-graph
      [data]="educTimeline[0]"
      [data2]="educTimeline[1]"
      [data3]="educTimeline[2]"
      [labels]="yearsArray"
      [showLegend]="true"
      [legendLabel]="['Bachelor Degree', 'Masters Degree', 'Doctorate Degree']"
    >
    </app-line-graph>
  </div>

  <div
    *ngIf="milestoneCount$ | async as milestone"
    class="w-full bg-white rounded-[15px] shadow-main p-5 pt-1"
  >
    <div class="flex justify-between">
      <p
        class="text-blue font-bold mobileS:text-[1.25rem] mobileM:text-[1.5rem] tablet:[2rem] my-2 tablet:text-start text-center my-2"
      >
        Milestones Achieved Each Year
      </p>
      <button (click)="generateMilestoneReport()">Generate Report</button>
    </div>
    <app-bar-chart
      [data]="milestone"
      [axis]="'x'"
      [bgColor]="'rgb(7, 66, 135)'"
      [labels]="yearsArray"
      [showLegend]="false"
    >
      >
    </app-bar-chart>
  </div>

  <div
    *ngIf="attainmentTimeline$ | async as attainment"
    class="w-full bg-white rounded-[15px] shadow-main p-5 pt-1"
  >
    <div class="flex flex-col tablet:flex-row items-center gap-3">
      <div class="flex justify-between">
        <p
          class="text-blue font-bold mobileS:text-[1.25rem] mobileM:text-[1.5rem] tablet:[2rem] my-2 tablet:text-start text-center my-2"
        >
          Attainment Timeline
        </p>
        <button (click)="generateAttainmentReport()">Generate Report</button>
      </div>
      <div class="flex flex-row gap-1">
        <div
          class="w-[23px] h-[23px] rounded-[5px] shadow-main duration-300 hover:duration-300 hover:bg-opacity-50"
          [ngClass]="certToggle ? ' bg-blue' : 'bg-slate-200'"
          (click)="certToggle = !certToggle"
        ></div>
        <p class="font-Roboto font-medium text-blue">Certifications</p>
      </div>

      <div class="flex flex-row gap-1">
        <div
          class="w-[23px] h-[23px] rounded-[5px] shadow-main duration-300 hover:duration-300 hover:bg-opacity-50"
          [ngClass]="commexToggle ? 'bg-greenBar' : 'bg-slate-200'"
          (click)="commexToggle = !commexToggle"
        ></div>
        <p class="font-Roboto font-medium text-blue">Community Extensions</p>
      </div>

      <div class="flex flex-row gap-1">
        <div
          class="w-[23px] h-[23px] rounded-[5px] shadow-main duration-300 hover:duration-300 hover:bg-opacity-50"
          [ngClass]="seminarToggle ? 'bg-orange-400' : 'bg-slate-200'"
          (click)="seminarToggle = !seminarToggle"
        ></div>
        <p class="font-Roboto font-medium text-blue">Seminars</p>
      </div>
    </div>
    <app-line-graph
      [data]="certToggle ? attainment[0] : []"
      [data2]="commexToggle ? attainment[1] : []"
      [data3]="seminarToggle ? attainment[2] : []"
      [labels]="yearsArray"
      [showLegend]="false"
    >
    </app-line-graph>
  </div>

  <div class="w-full flex flex-col laptop:flex-row gap-3">
    <div
      *ngIf="educationalAttainmentTimeline$ | async as educTimeline"
      class="bg-white flex flex-col items-center rounded-[15px] shadow-main flex-1"
    >
      <div class="flex gap-2">
        <p
          class="text-blue font-bold mobileS:text-[1.25rem] mobileM:text-[1.5rem] tablet:[2rem] my-2 tablet:text-start text-center my-2"
        >
          Educational Attainment
        </p>
        <button (click)="generateEducAttainmentReport()">
          Generate Report
        </button>
      </div>
      <app-pie-chart
        *ngIf="educTimeline.length > 0"
        [data]="[educTimeline[0][14], educTimeline[1][14], educTimeline[2][14]]"
        [labels]="['Bachelor Degree', 'Master Degree', 'Doctorate Degree']"
      >
      </app-pie-chart>
    </div>

    <div
      *ngIf="certTypes$ | async as certType"
      class="bg-white flex flex-col items-center rounded-[15px] shadow-main flex-1"
    >
      <p
        class="text-blue font-bold mobileS:text-[1.25rem] mobileM:text-[1.5rem] tablet:[2rem] my-2 tablet:text-start text-center my-2"
      >
        Certificate Type
      </p>
      <app-pie-chart
        [data]="[certType['Completion'], certType['Achievement']]"
        [labels]="['Completion', 'Achievement']"
      >
      </app-pie-chart>
    </div>

    <div
      *ngIf="employmentTypes$ | async as type"
      class="bg-white flex flex-col items-center rounded-[15px] shadow-main flex-1"
    >
      <div class="flex gap-2">
        <p
          class="text-blue font-bold mobileS:text-[1.25rem] mobileM:text-[1.5rem] tablet:[2rem] my-2 tablet:text-start text-center my-2"
        >
          Employment Status
        </p>
        <button (click)="generateEmploymentTypeReport()">
          Generate Report
        </button>
      </div>
      <app-pie-chart [data]="type" [labels]="['Part-Time', 'Full-Time']">
      </app-pie-chart>
    </div>
  </div>

  <div class="flex gap-2 flex-col tablet:flex-row">
    <div class="w-full tablet:w-[50%] flex flex-col gap-2">
      <!-- <div
        *ngIf="topSeminar$ | async as seminar"
        class="bg-white shadow-main rounded-[15px] p-5 pt-1"
      >
        <p
          class="text-blue font-bold mobileS:text-[1.25rem] mobileM:text-[1.5rem] tablet:[2rem] my-2 tablet:text-start text-center my-2"
        >
          Top Seminars Completed
        </p>
        <app-bar-chart
          *ngIf="seminar[1]"
          [data]="[
            seminar[0][1],
            seminar[1][1],
            seminar[2][1],
            seminar[3][1],
            seminar[4][1]
          ]"
          [labels]="[
            seminar[0][0],
            seminar[1][0],
            seminar[2][0],
            seminar[3][0],
            seminar[4][0]
          ]"
          [axis]="'y'"
          [bgColor]="'rgb(30, 114, 66)'"
          [showLegend]="false"
        ></app-bar-chart>
      </div> -->

      <div
        *ngIf="teachingLength$ | async as teaching"
        class="w-full bg-white rounded-[15px] shadow-main p-5 pt-1"
      >
        <p
          class="text-blue font-bold mobileS:text-[1.25rem] mobileM:text-[1.5rem] tablet:[2rem] tablet:text-start text-center my-2"
        >
          Teaching Length & Certification Count per Faculty Member
        </p>
        <app-bar-chart
          [data]="teaching[1][0]"
          [data2]="teaching[1][1]"
          [axis]="'x'"
          [bgColor]="'rgb(7,66,135)'"
          [bgColor2]="'rgb(30,114,66)'"
          [labels]="yearsArray"
          [showLegend]="false"
        >
          >
        </app-bar-chart>
      </div>
    </div>
    <div class="w-full tablet:w-[50%]">
      <div
        *ngIf="teachingLength$ | async as teaching"
        class="bg-white rounded-[15px] shadow-main p-5 pt-1 h-full"
      >
        <p
          class="text-blue font-bold mobileS:text-[1.25rem] mobileM:text-[1.5rem] tablet:[2rem] tablet:text-start text-center my-2"
        >
          Teaching Length and Evaluation Average Correlation
        </p>
        <app-scatter-plot [data]="teaching[0]" [showLegend]="false">
        </app-scatter-plot>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-3 gap-2">
    <!-- <div
    class="flex gap-2 flex-col laptop:flex-row tablet:flex-wrap desktop:flex-nowrap"
  > -->
    <div
      *ngIf="topSeminar$ | async as seminar"
      class="bg-white shadow-main rounded-[15px] p-5 pt-1 laptop:flex-1"
    >
      <div class="flex gap-2">
        <p
          class="text-blue font-bold mobileS:text-[1.25rem] mobileM:text-[1.5rem] tablet:[2rem] my-2 tablet:text-start text-center my-2"
        >
          Top Seminars Completed
        </p>
        <button (click)="generateSeminarReport()">Generate Report</button>
      </div>
      <app-bar-chart
        *ngIf="seminar[1]"
        [data]="[
          seminar[0][1],
          seminar[1][1],
          seminar[2][1],
          seminar[3][1],
          seminar[4][1]
        ]"
        [labels]="[
          seminar[0][0],
          seminar[1][0],
          seminar[2][0],
          seminar[3][0],
          seminar[4][0]
        ]"
        [axis]="'y'"
        [bgColor]="'rgb(30, 114, 66)'"
        [showLegend]="false"
      ></app-bar-chart>
    </div>
    <div
      *ngIf="topLevel$ | async as level"
      class="bg-white shadow-main rounded-[15px] p-5 pt-1 laptop:flex-1"
    >
      <div class="flex gap-2">
        <p
          class="text-blue font-bold mobileS:text-[1.25rem] mobileM:text-[1.5rem] tablet:[2rem] my-2 tablet:text-start text-center my-2"
        >
          Top Teaching Level
        </p>
        <button (click)="generateTeachingLevelReport()">Generate Report</button>
      </div>
      <app-bar-chart
        [data]="level[1]"
        [labels]="level[0]"
        [axis]="'y'"
        [bgColor]="'rgb(255, 122, 0)'"
        [showLegend]="false"
      ></app-bar-chart>
    </div>

    <div
      *ngIf="topExpertise$ | async as expertise"
      class="bg-white shadow-main rounded-[15px] p-5 pt-1 laptop:flex-1 tablet:col-span-2 laptop:col-span-1"
    >
      <div class="flex gap-2">
        <p
          class="text-blue font-bold mobileS:text-[1.25rem] mobileM:text-[1.5rem] tablet:[2rem] my-2 tablet:text-start text-center my-2"
        >
          Top Expertise
        </p>
        <button (click)="generateExpertiseReport()">Generate Report</button>
      </div>
      <app-bar-chart
        [data]="expertise[1]"
        [labels]="expertise[0]"
        [axis]="'y'"
        [bgColor]="'rgb(7, 66, 135)'"
        [showLegend]="false"
      ></app-bar-chart>
    </div>
  </div>
</div>

}
