<div class="p-5 flex flex-col gap-3 text-blue">
  <div
    class="bg-white shadow-lg bg-opacity-70 w-full rounded-[25px] flex justify-between items-center px-5"
  >
    <h1 class="font-Poppins font-semibold text-[2.5rem] py-2">
      Community Extensions
    </h1>
    <div class="flex flex-row space-x-4">
      <button
        class="bg-gradient-to-r from-blue to-greenBar text-white font-Poppins font-semibold px-11 py-2 rounded-full shadow-xl hover:scale-[102%] hover:duration-300 duration-300"
      >
        +Add
      </button>
    </div>
  </div>

  <h1 class="font-Poppins font-semibold text-[1.5rem] py-2">
    Latest Community Extensions
  </h1>
  <hr class="h-[2px] bg-black" />

  <div
    *ngIf="commexs[0] != undefined"
    class="bg-white shadow-lg w-full rounded-[25px] flex flex-row overflow-hidden hover:scale-[101%] hover:duration-300 duration-300"
  >
    <div class="bg-red-400 w-[25%] h-[280px]">
      <img [src]="commexs[0].commex_header_img" class="h-full object-cover" />
    </div>
    <div class="ml-4 mt-4 w-[75%] pr-6">
      <h1 class="font-Poppins font-semibold text-[1.5rem]">
        {{ commexs[0].commex_title }}
      </h1>
      <div class="flex flex-row opacity-70 mb-3">
        <img
          src="../../../assets/faculty-dashboard/BlueVector.png"
          class="w-[20px] h-full mr-[5px]"
        />
        <h2 class="font-Poppins font-semibold text-[1rem]">
          {{ commexs[0].commex_date }}
        </h2>
      </div>
      <p>
        {{ commexs[0].commex_details }}
      </p>
    </div>
  </div>

  <!-- Other -->
  <h1 class="font-Poppins font-semibold text-[1.5rem] py-2">
    Other Community Extensions
  </h1>
  <hr class="h-[2px] bg-black" />

  <app-other-commex>
    <div
      *ngFor="let commex of commexs; let i = index"
      class="bg-white rounded-xl shadow-lg p-3 flex flex-col gap-2 duration-300 hover:scale-[102%] hover:shadow-xl hover:duration-300 break-inside-avoid mb-2"
    >
      <div *ngIf="i != 0">
        <img [src]="tempPort + '/GC-FaMS-API/Image_Assets/CommunityExtensions/' + commex.commex_ID + '/COMMEX_HEADER.png'" alt="" />
        <div>
          <h4 class="text-xl font-bold">{{ commex.commex_title }}</h4>
          <img
            src="../../../assets/faculty-dashboard/BlueVector.png"
            class="w-[20px] h-[20px] mr-[5px] inline-block"
          />
          <span>{{ commex.commex_date }}</span>
        </div>

        <p>
          {{ commex.commex_details }}
        </p>
        <button class="bg-blue text-white font-bold p-2 rounded-lg">
          Read More
        </button>
      </div>
    </div>
  </app-other-commex>
</div>
