<app-loading-screen *ngIf="isLoading"></app-loading-screen>

<div class="p-5 flex flex-col gap-3 text-blue" *ngIf="!isLoading">
  <div
    class="bg-white shadow-main bg-opacity-70 w-full rounded-[15px] flex flex-col tablet:flex-row tablet:justify-between items-center px-5"
  >
    <h1 class="font-Poppins font-semibold text-[2.5rem] py-2">
      Community Extensions
    </h1>
    <div class="flex flex-row space-x-4">
      <button
        (click)="openDialog()" class="bg-gradient-to-r from-blue to-greenBar text-white font-Poppins font-semibold w-[125px] h-[40px] rounded-full shadow-xl hover:scale-[102%] hover:duration-300 duration-300"
      >
        +Add
      </button>
    </div>
  </div>

  <h1 class="font-Poppins font-semibold text-[1.5rem] py-2">
    Latest Community Extensions
  </h1>
  <hr class="border-[1.5px] border-slate-400">

  <div
    *ngIf="commexs[0] != undefined"
    class="bg-white shadow-main w-full rounded-[15px] flex flex-row overflow-hidden hover:scale-[101%] hover:duration-300 duration-300"
  >
    <div *ngIf="commexs[0].commex_header_img != 'http://localhost:8080'" class="bg-red-400 w-[25%] h-[280px]">
      <img [src]="commexs[0].commex_header_img" class="h-full w-full object-cover" />
    </div>
    <div class="p-4 w-[75%] flex flex-col gap-2">
      <h1 class="font-Poppins font-semibold text-[1.5rem]">
        {{ commexs[0].commex_title }}
      </h1>
      <div class="flex flex-row opacity-70">
        <img
          src="../../../assets/faculty-dashboard/BlueVector.png"
          class="w-[20px] h-full mr-[5px]"
        />
        <h2 class="font-Poppins font-semibold text-[1rem]">
          {{ commexs[0].commex_date }}
        </h2>
      </div>
      <p class="">
        {{ commexs[0].commex_details }}
      </p>
      <div class="flex flex-col flex-wrap justify-end flex-1 gap-2">
        <hr class=" text-black text-[0.5rem] bg-black">
        <div class="flex">
          <p>
            <span (mouseenter)="toggleVisible(commexs[0].commex_ID)" (mouseleave)="toggleHide()">
              <span class="mr-2"><i class="fa-solid fa-users"></i></span>
                <span>{{ noAttendee[0] }}</span>
            </span>
          </p>
          <div class="relative">
            <app-tooltip
            [attendees]="attendees[0]"
            [isVisible]="isVisible"
            [id]="commexs[0].commex_ID"
            [activeID]="activeID"
            ></app-tooltip>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Other -->
  <h1 class="font-Poppins font-semibold text-[1.5rem] py-2">
    Other Community Extensions
  </h1>
  <hr class="border-[1.5px] border-slate-400">

  <app-other-commex>
    <div
      *ngFor="let commex of commexs; let i = index"
    >
      <div *ngIf="i != 0" class="bg-white rounded-xl shadow-main flex flex-col gap-2 duration-300 hover:scale-[102%] hover:shadow-xl hover:duration-300 break-inside-avoid mb-2 overflow-hidden">
        <div class="bg-red-300">
          <img [src]="commex.commex_header_img" alt="" />
        </div>
        <div class="p-3">
          <h4 class="text-xl font-bold">{{ commex.commex_title }}</h4>
          <img
            src="../../../assets/faculty-dashboard/BlueVector.png"
            class="w-[20px] h-[20px] mr-[5px] inline-block"
          />
          <span>{{ commex.commex_date }}</span>
          <p>
            {{ commex.commex_details }}
          </p>
        </div>
        <div class="flex flex-col flex-wrap justify-end flex-1 gap-2">
          <hr class=" text-black text-[0.5rem] bg-black">
          <div class="flex">
            <p>
              <span (mouseenter)="toggleVisible(commex.commex_ID)" (mouseleave)="toggleHide()">
                <span class="mr-2"><i class="fa-solid fa-users"></i></span>
                <span>{{ noAttendee[i] }}</span>
              </span>
            </p>
            <div class="relative">
              <app-tooltip
              [attendees]="attendees[i]"
              [isVisible]="isVisible"
              [id]="commex.commex_ID"
              [activeID]="activeID"
              ></app-tooltip>
            </div>
          </div>
        </div>


        <!-- <button class="bg-blue text-white font-bold p-2 rounded-main">
          Read More
        </button> -->
      </div>
    </div>
  </app-other-commex>
</div>
