<div class="min-w-[240px] max-h-[460px] bg-white rounded-[15px] shadow-lg opacity-100">
    <div class="w-full bg-blue h-[38px] flex items-center justify-between">
        <p class="font-Poppins font-semibold text-white ml-5">Add Courses</p>
    </div>

    <div class="flex flex-row p-5 gap-3 max-h-[422px]"> <!-- Subtracting header height -->
        <div class="flex-none">
            <p class="text-blue font-semibold text-[1.5rem]">GC-FaMS</p>
            <p class="font-semibold">Author</p>
            <p class="ml-3">Chris Kirk Patrick Viacrusis</p>
            <p class="font-semibold">Co-Author</p>
            <p class="ml-3">Christian Jay Landero</p>
            <div class="bg-red-200 w-[400px] h-[250px] overflow-hidden rounded-[15px]">
                <img>
            </div>
        </div>

        <div class="flex flex-col gap-3 max-h-[422px] overflow-y-scroll"> <!-- Adjusted height -->
            <div class="bg-red-200 w-[250px] min-h-[140px]">
                <img>
            </div>
            <div class="bg-red-200 w-[250px] min-h-[140px]">
                <img>
            </div>

            <div class="bg-red-200 w-[250px] min-h-[140px]">
                <img>
            </div>

            <div class="bg-red-200 w-[250px] min-h-[140px]">
                <img>
            </div>

            <div class="bg-red-200 w-[250px] min-h-[140px]">
                <img>
            </div>

        </div>
    </div>
</div>
