<li>
  <a

    [routerLink]="urlTitle"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    [ngClass]="urlTitle === selectedBar ? 'flex items-center font-semibold [&>p]:text-[#074287] bg-[#f0f0f0] border-l-[6px] border-l-[#1E7242] laptop:text-lg laptopL:text-xl py-4' : 'flex items-center font-semibold text-[#f0f0f0] laptop:text-lg laptopL:text-xl py-4'"
  >
    <img
      [src]="urlTitle === selectedBar ? ('../../../assets/faculty-dashboard/Blue' + imgSource) : ('../../../assets/faculty-dashboard/' + imgSource)"
      class="dash-image w-[20px] h-[20px] mx-2 mr-3 md:aspect-square"
    />
    <p class="font-Poppins font-semibold text-[12.8px] leading-[20px]">{{ navTitle }}</p>
  </a>
</li>
