<div class="flex justify-center max-w-screen-fourk">
  <div class="h-screen sticky top-0 w-[10%] min-w-min">
    <app-sidebar></app-sidebar>
  </div>
  <div class="flex-1 flex flex-col w-[90%]">
    <app-topnav></app-topnav>
    <div class="flex-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!--

.wrapper {
  display: flex;
  justify-content: space-between;
}


.main,
.main-wrapper {
  flex: 1 1 0%;
  height: 150vh;
}

.sidebar {
  width: 20%;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

body {
  background-color: #ccc;
  font-family: sans-serif;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

 -->
