.bar {
  width: 100%;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  background-color: red;
}

.bar::before {
  content: '';
  background-color: green;
  height: 100%;
  display: block;
  width: var(--width);
}
