<div class="paper">
    <div class="navProfileRect flex items-center absolute top-0 mt-[0.5in]">

    </div>
    <div class="sideProfileRect flex justify-center absolute top-0">
        <div class="bg-slate-500 w-[2.1in] h-[2.9in] mt-[0.2in]">
            <img>
        </div>
    </div>
    <div class="rightProfileBord absolute w-[8.3in]">
        <p class="segmentTitle">EDUCATIONAL ATTAINMENT</p>
        <hr class="segmentLine">
        <div class="ml-[1in]">
            <p class="font-Inter font-bold">Master of Science in Computer Science</p>
            <p class="additionals"></p>
            <ul>
                <li>Lorem Ipsum'ed everyone</li>
                <li>Lorem Ipsum'ed everyone</li>
            </ul>
        </div>

        <p class="segmentTitle">INDUSTRY EXPERIENCE</p>
        <hr class="segmentLine">


        <p class="segmentTitle">COURSES HANDLED</p>
        <hr class="segmentLine">


        <p class="segmentTitle">PROJECTS</p>
        <hr class="segmentLine">
    </div>
</div>