<div class="paper">
    <div class="navProfileRect flex items-center absolute top-0 mt-[0.5in]">

    </div>
    <div class="sideProfileRect flex justify-center absolute top-0">
        <div class="bg-slate-500 w-[2.1in] h-[2.9in] mt-[0.2in]">
            <img>
        </div>
    </div>
    <div class="rightProfileBord absolute top-[2.3in] left-[3.1in]">
        <p class="segmentTitle">EDUCATIONAL ATTAINMENT</p>
        <hr class="segmentLine">
        <p class="segmentTitle">INDUSTRY EXPERIENCE</p>
        <hr class="segmentLine">
        <p class="segmentTitle">COURSES HANDLED</p>
        <hr class="segmentLine">
        <p class="segmentTitle">PROJECTS</p>
        <hr class="segmentLine">
    </div>
</div>