
<div class="flex flex-row justify-center overflow-x-scroll overflow-y-hidden">
  <div class="flex flex-col flex-none justify-end text-end my-5">
    <div class="m-[2px] w-[12px] h-[12px]">
    </div>
    <div class="m-[2px] h-[12px] text-black">
      Mon
    </div>
    <div class="m-[2px] w-[12px] h-[12px]">
    </div>
    <div class="m-[2px] h-[12px] text-black">
      Wed
    </div>
    <div class="m-[2px] w-[12px] h-[12px]">
    </div>
    <div class="m-[2px] h-[12px] text-black">
      Fri
    </div>
    <div class="m-[2px] w-[12px] h-[12px]">
    </div>
  </div>
  @for (week of daysOfYear; track week; let i = $index){
    <div class="flex flex-col flex-none my-5 relative">
      @if (week[6][0].getDate() <= 7){
        <p class='absolute top-[-20px] text-black'>{{week[6][0] | date:'MMM'}}</p>
      
      }
      <div  *ngFor="let day of week" 
        [ngClass]="day[1] == '' ?  'bg-[#f0f0f0] hover:bg-[#d6d6d6]' :  'bg-[#27AE60] hover:bg-[#219251]'"
        class="group relative m-[2px] h-[12px] w-[12px] rounded-[3px] shadow-sm hover:duration-150 duration-150">
  
        <div *ngIf="day[1] != ''" class="hidden tablet:flex">
          <div class="p-2 absolute z-50 top-[-65px] hidden group-hover:flex flex-auto flex-col w-max-[980px] bg-blue shadow-lg rounded-[10px]"
               [ngClass]="{'top-[20px]': ((day[0] | date: 'EEE') === 'Sun' || (day[0] | date: 'EEE') === 'Mon' || (day[0] | date: 'EEE') === 'Tue')}">
            <p class="whitespace-nowrap italic text-white text-[0.6rem] font-Poppins font-bold">{{ day[0] | date: 'yyyy-MM-dd-EE' }}  |  {{ day[1].eventType }}</p>
            <p class="whitespace-nowrap text-white text-[1.0rem] font-Poppins font-bold">{{ day[1].eventName }}</p>
            <p class="whitespace-nowrap italic text-white text-[0.6rem] font-Poppins">{{ day[1].eventPlace }}</p>
          </div>
        </div>
      </div>
    </div>
  }

</div>

