<header
  class="fixed top-0 left-0 right-0 z-50 bg-[#f0f0f0] text-blue flex justify-between px-6 py-2 font-Poppins items-center"
>
  <div class="flex gap-2">
    <img class="w-[40px] aspect-square" src="../../assets/logo.png" alt="" />
    <div>
      <h4 class="text-[1.5rem] font-Poppins font-bold">GC-FaMS</h4>
    </div>
  </div>

  <div class="flex gap-2">
    <button (click)="navigateFaculty()">Faculty</button>
    <!-- <button (click)="navigateAdmin()">Admin</button> -->
  </div>
</header>
<section class="h-[100vh] font-Poppins flex flex-col justify-between">
  <div class="relative w-full h-[620px] flex items-center z-30" id="cover">
    <div class="diagonal"></div>
    <div class="flex gap-2 text-white items-center">
      <img
        class="w-[120px] laptop:w-[320px] aspect-square"
        src="../../assets/logo.png"
        alt=""
      />
      <div>
        <h4 class="text-[2rem] laptop:text-[6rem] font-Poppins font-bold">
          GC-FaMS
        </h4>
        <span class="font-Poppins font-semibold text-[1.5rem]"
          >Faculty Profiling and Development Monitoring System</span
        >
      </div>
    </div>
  </div>

  <div
    class="w-full justify-center items-center gap-6 flex h-[160px] px-2 relative"
  >
    <button
      (click)="navigateFaculty()"
      class="text-white bg-blue px-3 py-2 text-[1.5rem] font-semibold rounded-[15px] shadow-main hover:scale-[105%] hover:duration-300 duration-300"
    >
      GC-FaMS Faculty
    </button>
    <!-- <button
      (click)="navigateAdmin()"
      class="text-white bg-blue px-3 py-2 text-[1.5rem] font-semibold shadow-main rounded-[15px] hover:scale-[105%] hover:duration-300 duration-300"
    >
      GC-FaMS for Admin
    </button> -->
  </div>

  <footer
    class="w-full bg-blue text-white flex-col flex-1 items-center max-h-[40px] justify-center z-20"
  >
    <h4 class="text-center">Copyright 2024 GC-FaMS Team</h4>
  </footer>
</section>
