<div *ngIf="!(education$ | async)?.length">
    <p class="font-Poppins font-semibold text-[2rem] text-blue text-center m-10">No existing records!</p>
</div>
<div *ngFor="let educ of education$ | async" class="mainParent bg-white items-center pt-4">
    <div class="flex flex-row">
        <div class="select-none w-full mx-10 hover:pl-4 hover:duration-300 duration-300">
            <div class="flex flex-row justify-between">
                <p class="font-Roboto font-medium text-blue text-[1.6rem]">{{ educ.educ_title }}</p>
                <div class="showChild flex flex-row items-center">
                    <img (click)="editEducation(educ)" class="hover:fill-blue hover:scale-105 hover:duration-300 duration-300 ml-5" src="./assets/common_icons/edit.svg">
                    <img (click)="deleteEducation(educ.educattainment_ID)" class="[&>path]:hover:fill-red-500 hover:scale-105 hover:duration-300 duration-300 ml-5" src="./assets/common_icons/delete.svg">
                </div>
            </div>
            <p class="font-Roboto font-medium text-black text-[1.3rem]">{{ educ.educ_school }}</p>
            <p class="ml-5 font-Roboto font-regular text-black text-[1.2rem]">{{ educ.educ_details }}</p>
        </div>
    </div>
    <hr class="h-[3px] my-4 mx-10 bg-black opacity-50">
</div>