.showChild{
    opacity: 0;
    transition-duration: 0.3s;
}
.mainParent:hover .showChild{
    opacity: 100;
    transition-duration: 0.3s;
  }


  @media only screen and (max-width: 1023px) {

    .showChild {
    opacity: 100;
  }
}
