<ngx-charts-pie-chart
  class="advanced-pie-legend total-value total-label legend-items"
  [arcWidth]="arcWidth"
  [view]=[200,200]
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [legend]="showLegend"
  [labels]="showLabels"
  [trimLabels]="false"
  [doughnut]="isDoughnut"
  [explodeSlices]="explodeSlices"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  style="fill: #074287"
>
</ngx-charts-pie-chart>

<!-- https://stackoverflow.com/questions/60767731/modifying-the-inner-css-of-ngx-charts -->
