<app-loading-screen *ngIf="isLoading"></app-loading-screen>
<div
  *ngIf="facultyProfile$ | async as facultyProfile"
  class="p-5 flex flex-col max-w-full flex-initial gap-3 text-blue overflow-x-hidden"
  id="mainPage"
>
  <div
    class="min-w-mobileL w-full bg-white rounded-[15px] overflow-hidden shadow-main"
  >
    <!-- IMAGE AND COVER -->
    <div class="w-full">
      <div class="h-[210px] w-full flex justify-center tablet:block">
        <div
          class="rounded-full ml-0 absolute tablet:ml-7 bg-greenBar max-h-[210px] max-w-[210px] overflow-hidden border-[5px] border-white"
        >
          <img
            [src]="port + facultyProfile.profile_image"
            onerror="this.onerror=null; this.src='../../../assets/profiles/user.png'"
          />
        </div>
        <div class="w-full h-[180px] overflow-hidden flex items-center">
          <img
            class="w-full"
            [src]="port + facultyProfile.cover_image"
            onerror="this.onerror=null; this.src='../../../assets/profiles/cover.jpg'"
          />
        </div>
      </div>
    </div>

    <div
      class="flex flex-col justify-center tablet:flex-row tablet:justify-between"
    >
      <div>
        <p
          class="text-[2.2rem] text-center tablet:text-start font-Poppins font-semibold ml-0 tablet:ml-7 mt-1 mb-2"
        >
          {{ facultyProfile.first_name }} {{ facultyProfile.last_name }}
        </p>
      </div>
      <div
        class="rounded-[15px] bg-gradient-to-r from-blue to-greenBar mx-5 my-3 shadow-main px-7 flex items-center w-[95%] tablet:w-[50%]"
      >
        <div class="w-[85%] py-1">
          <div
            class="flex flex-row font-Roboto font-bold text-white text-[0.80rem] justify-between tracking-[0.5px]"
          >
            <p>Class Code: 177013</p>
            <p>M 7:00 AM - 11:00 AM</p>
            <p>Room 407</p>
          </div>
          <div>
            <p class="font-Roboto font-bold text-white text-[1.7rem]">
              Discrete Structures
            </p>
          </div>
        </div>

        <div class="w-[35%]">
          <p
            class="text-white font-Roboto font-bold text-[1.8rem] opacity-50 right-[10px] z-0"
          >
            Next Class
          </p>
        </div>
      </div>
    </div>
  </div>

  <div
    (click)="getCv()"
    class="shadow-main bg-white rounded-[15px] overflow-hidden hover:scale-[101%] hover:text-white hover:bg-blue hover:duration-300 duration-300 select-none flex flex-col justify-center items-center"
  >
    <p class="text-[1.5rem] font-Poppins font-semibold">Generate CV</p>
  </div>

  <div class="flex flex-col tablet:flex-row gap-4">
    <div
      class="hidden laptop:flex laptop:w-[200px] p-5 items-center bg-white rounded-[15px] shadow-main"
    >
      <img class="" src="../../../assets/college-logo-big/CCS.png" />
    </div>

    <div
      class="bg-white rounded-[15px] shadow-main w-full flex flex-col tablet:flex-row p-5"
    >
      <div class="mr-[50px]">
        <p class="font-Poppins font-semibold text-[1.6rem]">Personal</p>
        <hr class="h-[2px] bg-mainGray" />
        <div class="flex flex-row">
          <div class="font-Roboto font-bold mr-10 text-black [&_p]:my-2">
            <p>Birthdate</p>
            <p>Age</p>
            <p>Citizenship</p>
            <p>Civil Status</p>
            <p>Sex</p>
          </div>
          <div class="font-Roboto font-regular text-black [&_p]:my-2">
            <p>{{ facultyProfile.birthdate }}</p>
            <p>{{ facultyProfile.age }}</p>
            <p>{{ facultyProfile.citizenship }}</p>
            <p>{{ facultyProfile.civil_status }}</p>
            <p>{{ facultyProfile.sex }}</p>
          </div>
        </div>
      </div>
      <div class="">
        <p class="font-Poppins font-semibold text-[1.6rem]">Contact</p>
        <hr class="h-[2px] bg-mainGray" />
        <p class="font-Roboto font-regular text-black my-2 text-[1.0rem]">
          {{ facultyProfile.email }}
        </p>
        <p class="font-Roboto font-regular text-black my-2 text-[1.0rem]">
          09684949573
        </p>
      </div>
    </div>
  </div>

  <div class="w-full flex flex-col">
    <div class="w-full mr-2">
      <app-cv-dropdown *ngFor="let comp of components" [name]="comp"></app-cv-dropdown>
    </div>
  </div>
</div>
